{% extends "base_on.html" %}

{% block title %}Triangulate - {{user}}{% endblock %}

{% block contents %}

<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/nyc.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Triangulate</h1>
                        <hr class="small">
                        <span class="subheading">{{user}}-Find Location</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <center><font color="SteelBlue">
                <p><b>Lets find the mid-point location!!, {{user}}</b></p>
                <p>

                  <form method = "POST">
                   Search for a location by name: 
                    <input type = "text" name = "place" placeholder="Stuyvesant"></input>
                    <input type = "submit" name="submit" value="Find By Name" class="btn btn-default"></input>
                  </form>
                    <br><br>
                  <form method = "POST">
                    Search for a location by coordinates:<br><br>
                    <input type = "text" name = "lat" placeholder="Latitude"></input>
                    <input type = "text" name = "long" placeholder="Longitude"></input><br><br>
                    <input type="submit" name="submit" value="Find By Coordinate" class="btn btn-default"></input>
                    <input type="submit" name="submit" value="Find On Map" class="btn btn-default"></input>
                  </form>
                </p>
                <p>

                    {% if error %}
                    Error: {{error}}
                    {% endif %}
                    {% if loc %}
                    <font color="SlateGray"><b>Location Searched:</b></font> {{loc | safe}}
                    {% endif %}

                    <br>
                    {% if loc %}
                    <b>Address Found:</b> {{add}}
                    <br>
                    {% endif %}
                    {% if lat %}
                    <b>Latitude:</b> {{lat}}
                    <br><br>
                    {% endif %}
                    {% if lng %}
                    <b>Longitude:</b> {{lng}}
                    <br>
                    {% endif %}
                    <br>
                    {% if result %}
                    <b><font color="SlateBlue">Not it? Well, here are some other locations that matched your keyword:</font></b><br><br>
                    {% for key, value in result.iteritems() %}
                    <b><font color="SlateGray">Location: {{key+1}}.</font></b> {{value}}
                    <br><br>
                    {% endfor %}
                    {% endif %}

                    <br><br>
                    </p>
                    <hr>
                    </font>
                    <p>
                        <font color ="green">
                    <form method = "POST">
                      <b>Search for the midpoint between three locations:</b>
                      <br><br>
                      Location 1: 
                     <input type = "text" name = "lat1" placeholder="Latitude 1"></input>
                     <input type = "text" name = "long1" placeholder="Longitude 1"></input>
                      <br><br>
                      Location 2: 
                      <input type = "text" name = "lat2" placeholder="Latitude 2"></input>
                      <input type = "text" name = "long2" placeholder="Longitude 2"></input>
                     <br><br>
                     Location 3: 
                      <input type = "text" name = "lat3" placeholder="Latitude 3"></input>
                      <input type = "text" name = "long3" placeholder="Longitude 3"></input>
                     <br><br>
                      <input type="submit" name="submit" value="Find Midpoint" class="btn btn-default"></input>
                    </form>
                    <br><br>
                  {{midpoint}}
                  </p>

                </font>
                </center>
            </div>
        </div>
    </div>

{% endblock %}




