
<form method = "POST">
  Search for a location by name: 
  <input type = "text" name = "place" placeholder="Stuyvesant"></input>
  <input type = "submit" name="submit" value="Find By Name"></input>
</form>

<form method = "POST">
  Search for a location by lattitude and longitude: 
  <input type = "text" name = "long" placeholder="Longitude"></input>
  <input type = "text" name = "lat" placeholder="Latitude"></input>
  <input type="submit" name="submit" value="Find By Numbers"></input>
</form>



{% if loc %}
Location Searched: {{loc | safe}}
{% endif %}

<br>
{% if loc %}
Address Found: {{add}}
<br>
{% endif %}
{% if lat %}
Lat: {{lat}}
<br>
{% endif %}
{% if lng %}
Lng: {{lng}}
<br>
{% endif %}

{% if result %}
{% for key, value in result.iteritems() %}
Location: {{key+1}}. {{value}}
<br>
{% endfor %}
{% endif %}
