{% extends "base_on.html" %}

{% block title %}Triangulate - {{user}}{% endblock %}

{% block contents %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{title}}</h1>
                        <h2 class="subheading">read more...</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <center>
                <p><b>Welcome back, {{user}}</b></p>
                <p>
                  <div>{{title}}</div>
                  {% set x_x = 0 %}
                  {% for post in posts %}
                  {% if post["NUMID"] == 0 %}
                  {% if x_x != 1 %}
                  <table>
                   <tr>
                   <td>
                    {{post["content"] | safe }}
                  </td>
                  </tr>
                   </table>
                {% endif %}
                {% set x_x = 1 %}
                {% endif %}
                  <table>
              {% if post["NUMID"] > 0 %}

                <tr>
                 <td class="content">{{post["content"]}}</td>
                 <span class="meta"><td class="author">By - {{post["user"]}}</td></span>
                </tr>

              {% endif %}
              {% endfor %}
              </table><br>
             <form method="POST" class="add">
             <textarea name="content" style="width:90%;" rows="4"></textarea><input type="submit" class="btn btn-default" value="Submit">
              </form>
                </p>
                </center>
            </div>
        </div>
    </div>

{% endblock %}
